<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>log.log</file>
        <encoder>
            <pattern>%date{YYYY-MM-dd HH:mm:ss} %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="sql" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>hib.log</file>
        <encoder>
            <pattern>%date{HH:mm:ss} %level %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="spring" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>spring.log</file>
        <encoder>
            <pattern>%date{HH:mm:ss} %level %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>


    <logger name="org.hibernate">
        <level value="trace"/>
        <appender-ref ref="sql"/>
    </logger>

    <logger name="org.springframework.security">
        <level value="trace" />
        <appender-ref ref = "spring" />
    </logger>

</configuration>